@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
  border: 2px solid #243073;
}
::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 20px;
  width: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #2196f3, white, #000);
}
